<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vnu.androtweet"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.vnu.androtweet.AndroTweet"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
        <meta-data
            android:name="AA_DB_NAME"
            android:value="RestClient.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <activity
            android:name="com.vnu.androtweet.activities.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="androtweet"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vnu.androtweet.activities.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="com.vnu.androtweet.activities.ComposeActivity"
            android:label="@string/title_activity_compose"
            android:parentActivityName="com.vnu.androtweet.activities.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vnu.androtweet.HomeActivity" />
        </activity>
        <activity
            android:name="com.vnu.androtweet.activities.UserProfileActivity"
            
            android:label="@string/title_activity_user_profile" >
        </activity>
    </application>

</manifest>